@import '~src/styles/colorPallete.scss';

.posts-page {
  max-width: $boxed-page-width;
  margin: auto;

  .grid {
    display: grid;
    margin: -8px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    .item {
      padding: 8px;
    }
  }
}
