<div class="post-wrapper">

  <div class="post-container">
    <img [src]=data.imgURL alt="" class="image">
    <div class=post-content>
      <h4>{{ data.title }}</h4>
      <p class=description>{{ data.description }}</p>
    </div>

    <footer class=post-footer>
      <i class="fa fa-calendar-alt"></i>
      <span>{{ data.date }}</span>
    </footer>
  </div>

  <div class="actions-container">
    <button (click)="likeOrUnlikePost()" class="btn btn-icon">
      <i class="fa fa-heart" [ngClass]="{'red-heart': data.isLiked}"></i>
    </button>
    <button (click)="deletePost()" class="btn btn-icon">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
