/* You can add global styles to this file, and also import other style files */
@import "./shards/shards.min.css";
@import "./layout.scss";

// Fix for below bug:
// Clicking multiple times on same button make cursor default
.btn {
  cursor: pointer;

  // On chrome mac osx on button shadow persists after click, this fixes it
  &:focus {
    box-shadow: none !important;
  }
}

// Need to override so it doesn't go out of bounds on invalid input
.input-group-prepend {
  height: fit-content;
}
