@import "./shards/shards.min.css";
@import "./layout.scss";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Fix for below bug:
// Clicking multiple times on same button make cursor default
.btn {
  cursor: pointer;

  // On chrome mac osx on button shadow persists after click, this fixes it
  &:focus {
    box-shadow: none !important;
  }
}

// Need to override so it doesn't go out of bounds on invalid input
.input-group-prepend {
  height: fit-content;
}

.text-align-center {
  text-align: center;
}

.display-none {
  display: none;
}

.btn-min-width {
  min-width: 100px;
}

.btn-mid-width {
  min-width: 250px;
}

.transition-all-2 {
  transition: all .2s ease-in-out;
}

.fa {
  color: #5a6169 !important;
}

// html, body { height: 100%; }

.mat-dialog-container {
  box-shadow: 0 0 25px rgba(40, 47, 60, .05), 0 20px 25px rgba(40, 47, 60, .05), 0 3px 4px rgba(40, 47, 60, .05) !important;
  border-radius: 1.5rem !important;
}

.cdk-overlay-backdrop {
  background: rgba(40, 47, 60, .05) !important;
}
